@charset "utf-8";
/* CSS Document */
#myVideo {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  text-align: center;
  position: absolute;
  top: 50%;
  background-color: #151515;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
